*{ 
    margin: 0%;
    padding: 0%;
    font-family: 'Signika', sans-serif;
}
.hero{
    height:  100vh;
    position: relative;
    width: 100vw;
  background-image: linear-gradient(rgba(169, 170, 184, 0.5),rgba(169,170,184,0.5)),url(images/campus2.jfif);
    background-position: center;
    background-size: cover;

}
.small{
    width: 60px;
    height: 40px;
}
nav{
    display: flex;
    padding: 3% 40%;
    justify-content: space-between;
    align-items: left;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    /* occupy all space in row */
    text-align:right;
    /* text on right side */
}
.nav-links ul li{
    list-style: none;
    /* no bullets */
    display: inline-block;
    /* horizontaly */
    padding: 8px 10px;
    position: relative;
}
.nav-links ul li a{
    color: gray;
    text-decoration: none;
    font-size: 16px;
}
/* click on effects */
.nav-links ul li::after{
content: "";
width: 0%;
height: 2px;
background: red;
display: block;
margin: auto;
transition: 0.5s;
}
/* navagation links */
.nav-links ul li::hover::after{
    width: 100%;
}
/* textbox */
.text-box{
  width: 90%; 
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px;
    font-size: 13px;
}
/* enroll button */
.enroll-btn{
    display: inline-block;
    text-decoration: none;
    border: 2px solid orangered;
    color: orangered;
    font-size: 14px;
    background: transparent;
    position: relative;
    padding: 16px 33px;
}
.enroll-btn:hover{
    border: 2px solid gray;
    background: gray;
    transition: 1s;
}

/* mobile screen display */
@media(max-width: 700px){
    .text-box h1{
        font-size: 22px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: white;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: 0%;
        text-align: left;
    }
    
}
